<form *ngIf="userId===-1" #selectUserForm="ngForm" (ngSubmit)="onSubmit()">

    <!-- {{users | json}} -->

    <div class="form-group">
        <label for="selUser">User</label>
        <select class="form-control" id="selUser" required [(ngModel)]="userId" name="user">
            <option *ngFor="let user of users" [value]="user.id">{{user.displayName}}</option>
        </select>
    </div>

    <!--  #mySelect (change)='onOptionsSelected(mySelect.value)' -->

    <!-- <div class="form-group">
        <label for="selUser">Hero Power</label>
        <select class="form-control" id="selUser" required [(ngModel)]="selectedUser" name="user">
            <option *ngFor="let user of users" [value]="user" [ngValue]="user">{{user.displayName}}</option>
        </select>
    </div> -->

    {{selectedUser}}



</form>

<app-comments *ngIf="userId!=-1" [userId]="userId"></app-comments>